.modalHero--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__img{
    
  }
  &__title{
    @include font-weight-700;
    @include font-size-32px;
  }
}