.modalShadow{
  display: none;
  position: fixed;
  top:0;
  height: 100vh;
  right: 0;
  left: 0;
  z-index: 999;
  transition: 3s;
  justify-content: center;
  align-items: center;
  &.active{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &--container{
    overflow: scroll;
    position: relative;
    padding: 16px;
    height: 95%;
    width: 95%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 25px 0px #00000040;
    
    &__x{
      z-index: 1000;
      &:hover{
        cursor: pointer;
      }
      position: absolute;
      top:16px;
      right: 16px;
      width: 32px;
      height: 32px;
    }

  }
}