.showFormik--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto;
  
}

.MuiTextField-root{
  margin: 1rem 0 0 0 !important ;
}

.MuiInputBase-root{
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.showFormik--container--button{
  text-align: center;
 div{
   display: inline-block;
 }
}