.avatarText--container {
  display: flex;
  margin: 6rem 0;
  &__image {
    box-shadow: 0px 10px 10px 0px #00000026;
    border-radius: 15px;
    width: 272px;
    height: 272px;
  }
  &__description {
    padding: 0 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
  }
}
.AVT {
  &--header {
    @include font-size-32px;
    @include font-weight-700;
    color: $black;
  }
  &--text {
    color: $black;
    @include font-size-16px;
    @include font-weight-400;
  }
  &--bold{
    font-weight: 700;
  }
}
