.footerContainer {
  background: $black;
  @include font-size-8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--link{
    padding: 1.5rem 1rem;
    color:$grey;
    text-decoration: none;
  }
  &--icon{
    margin-right: .5rem;
    height: 1rem;
  }
}
