@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

$blue: #25337e;
$black: #303030;
$grey: #bfbfbf;
$red: #de0101;
$orange: #e87b12;
$yellow: #E9A325;
$green: #62A569;

.bgYellow{
  background-color: $yellow;
}

.bgGreen{
  background-color: $green;
}

@mixin font-size-12px {
  font-size: 12px;
}

@mixin font-size-16px {
  font-size: 16px;
}

@mixin font-size-8px {
  font-size: 8px;
}

@mixin font-size-24px {
  font-size: 24px;
}

@mixin font-size-64px {
  font-size: 64px;
}
@mixin font-size-32px {
  font-size: 32px;
}

@mixin font-color-white {
  color: white;
}

@mixin font-weight-700 {
  font-weight: 700;
}


@mixin font-weight-400 {
  font-weight: 400;
}