.mobileNacContainer {
  display: none;
  justify-content: space-between;
  padding: 0.5rem;
  height: 4rem;
  a {
    display: flex;
    align-items: center;
  }
}

.mobileNavbar {
  z-index: 999;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .navContainer__menuContainer--link {
    color: black;
    text-align: center;
    font-size: 2rem;
    padding: 0.25rem;
    display: block;
    text-align: center;
  }
  &.active {
    transform: translateX(0%);
  }
  transition: 0.5s;
  transform: translateX(100%);
  position: fixed;
  top: 4rem;
  background: rgba(255, 255, 255, 0.94);
  left: 0;
  right: 0;
  bottom: 0;
}
.youtubeContainer__iframe {
  width: 916px;
}

@media (max-width: 975px) {
  .navContainer__menuContainer--link.active::after {
    display: none !important;
  }
  .navContainer {
    display: none;
  }
  .mobileNacContainer {
    display: flex;
  }

  .welcomeContainer--title {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .twoButtonContainer {
    margin: 1rem 0;
  }
  .welcomeContainer--subTitle {
    margin: 1rem 0;
  }
  .youtubeContainer__iframe {
    width: 100%;
  }
  .heroContainer {
    width: 100%;
  }
  .heroContainer__background__avatar {
    display: none;
  }
  .heroContainer__title {
    text-align: center;
    margin: 1rem;
  }
  .heroContainer__buttonContainer__icon {
    display: none;
  }
  .heroContainer__background {
    padding: 1rem;
    height: auto;
    align-items: center;
  }
  .footerContainer {
    flex-direction: column;
    &--link {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
  .twoButtonContainer {
    justify-content: space-around;
  }
  .modalHero--container__title {
    text-align: center;
  }
  .underLabel {
    flex-direction: column;
  }
  .lessonsContainer {
    img {
      display: none;
    }
  }
  .avatarText--container {
    margin: 3rem;
    flex-direction: column;
    &__image {
      margin: auto;
    }
  }
  .heroLaboratory--container {
    width: 100%;
  }
  .heroLaboratory--container__title {
    margin: 0.25rem;
    text-align: center;
  }
  .heroLaboratory--container__background,
  .heroLaboratory--container__icon {
    display: none;
  }
  .offer-button-container.m-4 a {
    display: block;
  }
  .fourButtons--container {
    flex-direction: column;
    &__button {
      width: 100%;
      margin: 1rem 0;
    }
  }
  .heroContact--containers {
    display: none;
  }
  .cycleFormik--container {
    margin: 0 !important;
  }
}

#youtubeContainer__iframe {
  width: 100%;
  max-width: 800px;
}
