.navContainer {
  background: $blue;

  &__logoContainer {
    background: white;
    max-width: 1108px;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: center;
    &--img {
      margin: 1rem 0;
    }
  }
  &__menuContainer {
    max-width: 1108px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    &--link {
      font-weight: 400;
      font-size:15px;
      @include font-color-white;
      text-decoration: none;
      display: inline-block;
      padding: 1rem 0.15rem 1.5rem 0.15rem;
      position: relative;
      &:hover {
        cursor: pointer;
        @include font-color-white;
      }
      &.active {
        font-weight: 700;
        &:after {
          z-index: 1;
          content: "";
          position: absolute;
          height: 16px;
          transform: translate(-50%,20%);
          left: 50%;
          top: 50%;
          width: 16px;
          background-image: url("/images/fasolki.svg");
        }
      }
    }
  }
}
