.heroContainer {
  width: 919px;
  height: 450px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  &__buttonContainer {
    margin:1rem;
    padding:  .5rem;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    transition: .3s;
    &:hover{
      cursor: pointer;
      box-shadow: 0px 5px 25px 0px #00000040;
      img{
        position: relative;
        transform: translateX(20%);
      }
    }
    &__icon {
      transition: .3s;
      width: 1rem;
      margin: 1rem;
    }
    &__content {
      text-align: center;
      @include font-size-24px;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__background {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/images/bgBlue.png");
    height: 75%;
    &__avatar {
      position: absolute;
      height: 100%;
      right: 0;
    }
  }
  &__title {
    margin-right: 20%;
    @include font-size-32px;
    color: $orange;
  }
}
