.twoButtonContainer{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  &__button{
    padding: .5rem 2rem;
    border-radius: 1rem;
    margin: .5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    @include font-size-24px;
    transition: .3s;
    &.small{
      font-size: 1rem;
    }
    &:hover{
      cursor:pointer;
      color:white;
      box-shadow: 0px 5px 25px 0px #00000040;
    }
    
    &.red{
      background: $red;
    }
    &.blue{
      background: $blue;
    }
  }
}