.welcomeContainer {
  &--title {
    text-align: center;
    margin: 2rem 0;
    @include font-size-64px;
    @include font-weight-700;
  }
  &--subTitle{
    margin: 2rem 0;

    text-align: center;
    @include font-weight-700;
    @include font-size-32px;
    color:$blue;
  }
  &--description{
    margin: 2rem 0;

    @include font-size-16px;
    text-align: center;
    max-width: 1108px;
    margin: 0 auto;
  }
}
