.heroLaboratory--container{
  width: 919px;
  height: 260px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  &__title{
    margin-right: 20%;
    @include font-size-32px;
    color: $blue;
  }
  &__icon{
    position: absolute;
    height: 100%;
    right: 0;
  }
  &__background {
    border-radius: 15px;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/images/bgYellow.png");
    height: 75%;
  }
}

