.together--container{
  justify-content: center; 
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  &__text{
    text-align: center;
    font-size: 16px;
  }
  &__header{
    text-align: center;
    font-weight: 700;
    width: 100%;
  }
}