.advantagesContainer {
  &__CrossContainer {
    height: 180px;

    margin: 2rem;
  }

  &--title{
    @include font-weight-700;
    @include font-size-32px;
    text-align: center;
    color: $red;
    margin: 4rem 0 2rem;
  }

  &--description{
    @include font-size-16px;
    text-align: center;
  }
}

