.lessonsContainer {
  &__itemContainer {
    margin: 2rem 0;
    display: flex;
    &.revert{
      flex-direction: row-reverse;
    }
    &--image{
      width: 256px;
      height: 256px;
    }
    &--content{
      text-align: left;
      &.revert{
        text-align: right;
      }
    }
  }
}

.offer-button-container{
  text-align: center;
}
.btn-show-conspect{
  &:hover{
    color: white;
  }

  display: inline-block;
  margin: 2rem auto;
  padding: 16px 48px 16px 48px;
  @include font-size-32px;
  @include font-weight-700;
  @include font-color-white;
  background: #62A569;
  border-radius: 15px;
  border: none;
}
