.missingAnswer--container{
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
   color:$black;
    @include font-size-32px;
    @include font-weight-700
  }
  &__description{
    text-align: center;
    color:$black;
    @include font-size-16px;
    text-align:center;
  }
}