.QL--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #a7a7a7 1px solid;
  border-radius: 10px;
  padding: 0;
  margin:64px 0;
}

.Collapsible {
  width: 100%;
  border: #a7a7a7 1px solid;
  &:nth-child(1) {
    border-radius: 10px 10px 0 0;
  }
  &:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
  }
}

.collapseIcon{
  transition: .3s;
  transform-origin: center;
  transform: rotate(90deg)

}


.is-open{
  .collapseIcon{
    transform: rotate(0deg)

  }
}

.is-close{
  .collapseIcon{
    transform: rotate(90deg)
  }
}


.Collapsible__trigger {
  display: block;
  padding: 1rem;
  border-bottom: #a7a7a7 1px solid;
}

.Collapsible__contentOuter{
  padding: 0 1rem;
}
