.fourButtons--container {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  &__button {
    width: 20%;
    background: #25337E;
    color: white;
    padding: .5rem 2rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{
      color:white;
      cursor: pointer;
    }
    img{
      margin-right: .5rem;
      height: 1.25rem;
    }
  }
}

.contact--container{
  
}

.heroContact--containers{
  background-image: url("/images/bgOrange.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 12rem 0 5rem;
  border-radius: 1rem;
  &__text{
    padding: 1rem;
    width: 75%;
    font-weight: 700;
    color: white;
    font-size: 32px;
  }
  img{
    width: 25%;
    position: absolute;
    right: 0;
  }
}

.contactHeroText{
  *{
    text-align: center;
  }
}

.small{
  margin: 2 auto;
}