.headerContainer{
  @include font-size-64px;
  @include font-weight-700;
  color: white;
  background-image: url("/images/background.png");
  background-position: center;
  text-align: center;
  padding: 3rem 0;
  text-transform: uppercase;
  background-size: cover;
  &.onas{
    background-image: url("/images/backgrounds/onas.png");
  }
  &.laboratory{
    background-image: url("/images/backgrounds/laboratory.png");
  }
  &.conspects{
    background-image: url("/images/backgrounds/conspects.png");

  }
}